$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#knobs {
  overflow: hidden;
  width: 575px;
  margin: 20px auto;
}

.code {
  overflow: hidden;
  width: 600px;
  margin: 20px auto;
}

.knob-group {
  float: left;

  width: 115px;
  padding: 0 15px;

  .knob-input {
    text-align: center;
    width: 85px;
  }
}

.knob {
  margin: 5px 10px;
  cursor: ns-resize;
}
